*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --font-family-primary: 'Bogart', sans-serif;
    --font-family-second: "Montserrat", sans-serif;
    --background-color-primary: #F6F6F6;
}

.initial-content-section{
    width: 100vw;
    min-height: 768px;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color-primary);
    justify-content: center;
    gap: 5%;
}

.initial-container-content{
    display: grid;
    grid-template-areas: 
    "portifolio portifolio"
    "name name"
    ". ."
    "roleTitleAndContatos roleTitleAndContatos";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

#portifolio-title{
    grid-area: portifolio;
    justify-self: center;
    align-self: end;
}

#name-title{
    grid-area: name;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 5%;
}


.initial-container-content p, a{
    font-family: var(--font-family-second);
    letter-spacing: 0.09em;
    font-size: 22px;
}

.initial-container-content h1{
    font-family: var(--font-family-primary);
    font-size: 140px;
    font-weight: 400;
}

#contatos{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.contatos-text{
    height: 23%;
    transition: 0.3s;
}

.contatos-text:hover{
    color: #08A88A;
}

#contatos:hover{
    color: #08A88A;
}

#contatos:hover span{
    border-color: #08A88A;
}

.roleTitleAndContatos{
    grid-area: roleTitleAndContatos;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#contatos span{
    border: 0.5px solid black;
    margin-top: 5px;
}

.initial-container-svg{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#unique-lord-icon{
    width: 400px;
    height: 400px;
}

.aboutme-section{
    width: 100vw;
    min-height: 768px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    padding-top: 5%;
}

.aboutme-first-content{
    display: flex;
    flex-direction:column;
    gap: 20%;
}

.aboutme-second-content{
    display: flex;
    flex-direction:column;
    gap: 10%;
}

.aboutme-first-content img{ 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 360px;
}

.aboutme-first-content p{
    font-family: var(--font-family-second);
    font-size: 25px;
    font-weight: 500;
    text-align: justify;
    text-transform: uppercase;
    letter-spacing: 0.09em;
}

.aboutme-second-content p{
    font-size: 20px;
    font-family: var(--font-family-second);
    font-weight: 400;
    color: #676767;
    line-height: 1.375em;
}

.aboutme-second-content h2{
    font-family: var(--font-family-primary);
    font-size: 50px;
    font-weight: 400;
}

.aboutme-second-content{
    max-width: 30%;
}

.trajetória{
    width: 100vw;
    min-height: 768px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #474e5d;
}

.trajetória h2{
    font-family: var(--font-family-primary);
    font-weight: 500;
}

#trajetoria-title{
    text-align: center;
    font-size: 60px;
    color: #FFF;
    padding-bottom: 2%;
}

.trajetória p{
    font-family: var(--font-family-second);
    line-height: 1.375em;
}

.habilidades{
    width: 100vw;
    min-height: 768px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.habilidades h2{
    font-size: 60px;
    font-family: var(--font-family-primary);
    font-weight: 500;
}

.habilidades p{
    font-family: var(--font-family-second);
}

.habilidades-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1%;
}

.habilidade-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F6F6F6;
    width: 150px;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.habilidade-item img{
    width: 100px;
}

.projetos{
    width: 100vw;
    min-height: 768px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projetos h2{
    font-family: var(--font-family-primary);
    font-size: 60px;
    font-weight: 500;
}

.projetos-container{
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
}

.projeto-icons img{
    width: 30px;
}

.projeto-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
}

.projeto-item-img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}
  
.projeto-item:hover, .habilidade-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.projeto-container {
    padding: 2px 16px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projeto-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.projeto-header h4{
    font-family: var(--font-family-primary);
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.projeto-btns{
    display: flex;
    justify-content: space-around;
}

.projeto-btns a{
    font-family: var(--font-family-second);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 2%;
    letter-spacing: normal;
    font-size:medium;
}

.projeto-btns i{
    font-size: 20px;
}

.projeto-site{
    background-color: #102C57;
    color: #FFF;
    transition: 0.3s;
}

.projeto-site:hover{
    background-color: #FFF;
    color: #102C57;
    border: 1px solid #102C57;
}

.projeto-repo{
    background-color: #000;
    color: #FFF;
    transition: 0.3s;
}

.projeto-repo:hover{
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
}

.contatos{
    width: 100vw;
    min-height: 768px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contatos h2{
    text-align: center;
    font-family: var(--font-family-primary);
    font-size: 60px;
    font-weight: 500;
}

.contatos-container{
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.contatos-first-container{
    display: flex;
    align-items: center;
}

.contatos-first-container lord-icon{
    width: 300px;
    height: 300px;
}

.contatos-second-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contatos-second-container p{
    font-family: var(--font-family-second);
    text-align: left;
    font-size: 20px;
}

.contato-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contatar{
    text-decoration: none;
    background-color: #000;
    color: #FFF;
    padding: 20px;
    border-radius: 10px;
    font-family: var(--font-family-second);
    font-size: 15px;
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 10px;
    width: 214px;
    transition: 0.3s;
    fill: #FFF;
}

.contatar:hover{
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
    fill: #000;
}

.contatar svg{
    width: 25px;
}

.copiar{
    background-color: #FFF;
    color: #000;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    font-family: var(--font-family-second);
    font-size: 15px;
    transition: 0.3s;
}

.copiar:hover{
    background-color: #000;
    color: #FFF;
}

.contato-phone-container, .contato-email-container{
    display: flex;
    gap: 20px;
}

footer{
    background-color: #F6F6F6;
    padding: 100px;
    display: flex;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: #000;
    font-family: var(--font-family-second);
    font-size: 25px;
}

/* Timeline */

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
  
/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
  
/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #842841;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}
  
/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
  
  
/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
  
/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}
  
/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
  
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }

    #trajetoria-title{
        font-size: 40px;
    }
}

/* end */

@media (max-width:425px) {
    .initial-content-section{
        flex-direction: column;
    }
    
    .initial-container-content p, a{
        font-size: 14px;
    }

    .initial-container-content h1{
        font-size: 90px;
    }

    .roleTitleAndContatos{
        justify-content: center;
        gap: 15px;
    }
    
    #unique-lord-icon{
        width: 290px;
        height: 290px;
    }

    .initial-container-svg{
        display: flex;
        justify-content: center;
    }

    .aboutme-section{
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .aboutme-first-content img{
        width: 200px;
    }

    .aboutme-first-content{
        flex-wrap: wrap;
        align-content: center;
        gap: 15px;
    }

    .aboutme-first-content p{
        font-size: 20px;
        text-align: center;
    }

    .aboutme-second-content{
        max-width: 90%;
        gap: 20px;
    }

    .aboutme-second-content h2{
        font-size: 30px;
        text-align: center;
    }

    .aboutme-second-content p{
        font-size: 15px;
    }

    .habilidade-item{
        width: 90px;
    }

    .habilidade-item img{
        width: 70px;
        align-self: center;
    }

    .habilidades h2, .projetos h2, .contatos h2{
        font-size: 40px;
    }

    .contato-phone-container, .contato-email-container{
        flex-direction: column;
    }
}

@media (min-width: 426px) and (max-width: 767px){
	.initial-content-section{
        flex-direction: column;
    }
    
    .initial-container-content p, a{
        font-size: 15px;
    }

    .initial-container-content h1{
        font-size: 100px;
    }

    .roleTitleAndContatos{
        justify-content: center;
    }
    
    /* .initial-container-svg svg{
        width: 300px;
    } */

    /* .initial-container-svg{
        display: flex;
        justify-content: center;
    } */

    .aboutme-section{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        gap: 45px;
    }

    .aboutme-first-content{
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;
        gap: 30px;
    }

    .aboutme-first-content p{
        text-align: center;
    }

    .aboutme-second-content{
        max-width: 70%;
        gap: 30px;
    }

    .aboutme-second-content h2{
        font-size: 40px;
    }

    .aboutme-second-content p{
        font-size: 16px;
    }

    .habilidade-item{
        width: 100px;
    }

    .habilidade-item img{
        width: 80px;
        align-self: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
	.initial-container-content p, a{
        font-size: 15px;
    }

    .initial-container-content h1{
        font-size: 120px;
    }
    
    /* .initial-container-svg svg{
        width: 300px;
    } */

    .aboutme-first-content p{
        font-size: 20px;
    }

    .aboutme-second-content p{
        font-size: 16px;
    }

    .aboutme-second-content h2{
        font-size: 40px;
    }
}

@media (max-width:1024px){
    .projeto-item{
        max-width: 250px;
    }

    .projeto-item-img{
        width:250px;
        height:250px;
    }
}

@media (max-width:768px){
    .contatos-container{
        flex-direction: column;
    }

    .contatos{
        padding: 5% 0 5% 0;
    }

    .contatos-first-container{
        justify-content: center;
    }

    .contatos-second-container{
        align-items: center;
    }

    .contatos-second-container p {
        text-align: center;
    }
}